# Configuration stuff
/application/config/development
/application/sessions
/ip_sessions
/ipconfig.php

# Dependencies
/node_modules
/vendor

# Other files
/.htaccess
.idea
.sass-cache
/composer.lock
/package-lock.json
adminer.php
/nbproject
/.php_cs.cache
/doc
composer.lock
package-lock.json
serve.bat