# Configuration stuff
/application/config/development
/application/sessions
/ip_sessions
/ipconfig.php

# Dependencies
/node_modules
/vendor

# Other files
/.htaccess
/nbproject
/.php_cs.cache
/doc
.idea
.sass-cache
adminer.php
composer.lock
yarn.lock
package-lock.json
serve.bat

