# Configuration stuff
/application/config/development
/application/sessions
/ip_sessions
/ipconfig.php

# Dependencies
/node_modules
/vendor

# Other files
/.htaccess
.idea
.sass-cache
composer.lock
adminer.php
/nbproject
/.php_cs.cache
/doc
